NEXT_ALLOWED_DEV_ORIGINS=192.168.10.102

# Auth0 server-side authentication
AUTH0_DOMAIN=hogedd.jp.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_SECRET=
APP_BASE_URL=https://www.hogedd.com
AUTH0_AUDIENCE=https://api.hogedd.com
